{% extends 'base.html.twig' %}

{% block title %}Blog Symfony |  Détail de l'article {% endblock %}

{% block body %}

    <h1 class="display-4 text-center my-4"> détail de l'article </h1>
    <div class="col-md-12">
        <div class="card mb-4 shadow-sm">
          <img src="https://picsum.photos/seed/picsum/200/300" alt="">
          <div class="card-body">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minus excepturi a saepe. Sint, adipisci corporis mollitia totam nisi repudiandae nobis cum alias ratione aut aspernatur hic doloremque ut deserunt.
            Esse quisquam, illo voluptatum reprehenderit nam quia atque, exercitationem, repudiandae amet itaque velit alias eligendi distinctio impedit. Illum quidem voluptate ea eius soluta iure. Iste voluptas inventore dolore facilis nihil.
            Dolorum minima unde soluta in veniam repudiandae quas iure sunt voluptatibus sapiente ullam, quam, distinctio eos nulla necessitatibus aliquam explicabo vel obcaecati ipsam excepturi saepe ad dolore! Est, fugiat tempore!
            Quis optio consequuntur est necessitatibus voluptatem illo ipsum totam consequatur ullam vero quia similique, commodi voluptatum molestiae suscipit architecto officia et. Blanditiis similique mollitia perferendis excepturi officia provident deleniti incidunt.
            Inventore tempora distinctio incidunt dolorem, dicta iusto doloribus aspernatur dolore sunt est dolores itaque voluptatum aliquid assumenda officiis odio magnam quidem ipsum atque. Vero dolore eligendi sapiente ipsam sint neque.</p>
            

          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minus excepturi a saepe. Sint, adipisci corporis mollitia totam nisi repudiandae nobis cum alias ratione aut aspernatur hic doloremque ut deserunt.
            Esse quisquam, illo voluptatum reprehenderit nam quia atque, exercitationem, repudiandae amet itaque velit alias eligendi distinctio impedit. Illum quidem voluptate ea eius soluta iure. Iste voluptas inventore dolore facilis nihil.
            Dolorum minima unde soluta in veniam repudiandae quas iure sunt voluptatibus sapiente ullam, quam, distinctio eos nulla necessitatibus aliquam explicabo vel obcaecati ipsam excepturi saepe ad dolore! Est, fugiat tempore!
            Quis optio consequuntur est necessitatibus voluptatem illo ipsum totam consequatur ullam vero quia similique, commodi voluptatum molestiae suscipit architecto officia et. Blanditiis similique mollitia perferendis excepturi officia provident deleniti incidunt.
            Inventore tempora distinctio incidunt dolorem, dicta iusto doloribus aspernatur dolore sunt est dolores itaque voluptatum aliquid assumenda officiis odio magnam quidem ipsum atque. Vero dolore eligendi sapiente ipsam sint neque.</p>
          
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minus excepturi a saepe. Sint, adipisci corporis mollitia totam nisi repudiandae nobis cum alias ratione aut aspernatur hic doloremque ut deserunt.
            Esse quisquam, illo voluptatum reprehenderit nam quia atque, exercitationem, repudiandae amet itaque velit alias eligendi distinctio impedit. Illum quidem voluptate ea eius soluta iure. Iste voluptas inventore dolore facilis nihil.
            Dolorum minima unde soluta in veniam repudiandae quas iure sunt voluptatibus sapiente ullam, quam, distinctio eos nulla necessitatibus aliquam explicabo vel obcaecati ipsam excepturi saepe ad dolore! Est, fugiat tempore!
            Quis optio consequuntur est necessitatibus voluptatem illo ipsum totam consequatur ullam vero quia similique, commodi voluptatum molestiae suscipit architecto officia et. Blanditiis similique mollitia perferendis excepturi officia provident deleniti incidunt.
            Inventore tempora distinctio incidunt dolorem, dicta iusto doloribus aspernatur dolore sunt est dolores itaque voluptatum aliquid assumenda officiis odio magnam quidem ipsum atque. Vero dolore eligendi sapiente ipsam sint neque.</p>
          

          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit minus excepturi a saepe. Sint, adipisci corporis mollitia totam nisi repudiandae nobis cum alias ratione aut aspernatur hic doloremque ut deserunt.
            Esse quisquam, illo voluptatum reprehenderit nam quia atque, exercitationem, repudiandae amet itaque velit alias eligendi distinctio impedit. Illum quidem voluptate ea eius soluta iure. Iste voluptas inventore dolore facilis nihil.
            Dolorum minima unde soluta in veniam repudiandae quas iure sunt voluptatibus sapiente ullam, quam, distinctio eos nulla necessitatibus aliquam explicabo vel obcaecati ipsam excepturi saepe ad dolore! Est, fugiat tempore!
            Quis optio consequuntur est necessitatibus voluptatem illo ipsum totam consequatur ullam vero quia similique, commodi voluptatum molestiae suscipit architecto officia et. Blanditiis similique mollitia perferendis excepturi officia provident deleniti incidunt.
            Inventore tempora distinctio incidunt dolorem, dicta iusto doloribus aspernatur dolore sunt est dolores itaque voluptatum aliquid assumenda officiis odio magnam quidem ipsum atque. Vero dolore eligendi sapiente ipsam sint neque.</p>
          </div> 
        </div>
      </div>

{% endblock %}
